<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>ติดตามงาน</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item *ngFor="let task of task_list;let i = index">
        <ion-label>
          <p>{{task.pcs_th}} ({{task.pcs_en}})</p>
          <h3>{{task.case_code}}</h3>
          <h2>{{task.case_th}}</h2>
        </ion-label>
        <ion-icon slot="end" name="options"></ion-icon>
      </ion-item>
    

</ion-content>

