<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/process"></ion-back-button>
      <ion-title>จัดการขั้นตอน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="ค้นหา"></ion-searchbar>

  <ion-list *ngFor="let pcd of pcd_list;let i = index">
      <ion-item (click)="procedure_page_show(pcs.pcs_id)">
          <ion-label>
              <h3>{{pcd.pcd_abbr}}</h3>
              <p>{{pcd.pcd_th}}</p>
              <p>{{pcd.pcd_en}}</p>
            </ion-label>
        </ion-item>
  </ion-list>

  
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="modal_insert_show()" >
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>   
</ion-content>
