<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/process-group"></ion-back-button>
    <ion-title>จัดการกระบวนการ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item lines="none" *ngIf="pcs_list == '' ">
      <ion-label>
          เริ่มต้นใช้งาน
      </ion-label>
    </ion-item>
    <ion-card *ngIf="pcs_list == '' ">
      <img src="https://image.freepik.com/free-vector/error-404-concept-landing-page_52683-18633.jpg" />
      <ion-card-header>
        <ion-card-subtitle text-center><b>กรุณาสร้างกระบวนการเพื่อใช้งาน</b></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>

    <ion-searchbar placeholder="ค้นหา" *ngIf="pcs_list != ''"></ion-searchbar>

    <ion-list *ngFor="let pcs of pcs_list;let i = index">
        <ion-item >
          <ion-label (click)="procedure_page_show(pcs.pcs_id)">
              <h3>{{pcs.pcs_code}}</h3>
              <p>{{pcs.pcs_th}} ({{pcs.pcs_en}})</p>
            </ion-label>
            <ion-buttons slot="end" (click)="presentAlert(pcs.pcs_id,pcs.pcs_code,pcs.pcs_th,pcs.pcs_en,pcs.pcs_year_type,pcs.pcs_year,pcs.pcs_enforce,pcs.ps_fname,pcs.ps_lname)" >
              <ion-icon name="more" size="small"></ion-icon>
            </ion-buttons>
        </ion-item >
    </ion-list>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="modal_insert_show()">
      <ion-fab-button color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
</ion-content>