<ion-header>
    <ion-toolbar>
      <ion-item lines="none">
        <ion-buttons slot="start" (click)="closeModal()">
            <ion-icon name="close" ></ion-icon>
        </ion-buttons>
        <ion-title *ngIf="type_input == 'insert'">สร้างกระบวนการ</ion-title>
        <ion-title *ngIf="type_input == 'update'">แก้ไขกระบวนการ</ion-title>
        <ion-buttons slot="end"  (click)="process_insert()" *ngIf="type_input == 'insert'">
            <ion-icon name="checkmark" ></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end"  (click)="process_update()" *ngIf="type_input == 'update'">
            <ion-icon name="checkmark" ></ion-icon>
        </ion-buttons>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding="true">
      <ion-item>
        <ion-label position="floating">รหัส</ion-label>
        <ion-input [(ngModel)]="pcs_code" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ชื่อภาษาไทย</ion-label>
        <ion-input [(ngModel)]="pcs_th" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ชื่อภาษาอังกฤษ</ion-label>
        <ion-input [(ngModel)]="pcs_en" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ประเภทปี</ion-label>
        <ion-select [(ngModel)]="pcs_year_type" placeholder="เลือกประเภทปี" required>
          <ion-select-option value="1">ปีปฏิทิน</ion-select-option>
          <ion-select-option value="2">ปีงบประมาณ</ion-select-option>
          <ion-select-option value="3">ปีการศึกษา</ion-select-option>
        </ion-select>
        <ion-select [(ngModel)]="pcs_year" placeholder="เลือกปี" required>
          <ion-select-option value="2562">2562</ion-select-option>
          <ion-select-option value="2561">2561</ion-select-option>
          <ion-select-option value="2560">2560</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>บังคับใช้งาน</ion-label>
        <ion-toggle [(ngModel)]="pcs_enforce" disabled="true"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>ผู้ดูแล</ion-label>
        <ionic-selectable 
        [(ngModel)]="cmgr_id"
        [items]="ps_list"
        [canSearch]="true"
        itemValueField="ps_id" 
        itemTextField="name">
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close"></ion-icon>
        </ng-template>
      </ionic-selectable>
      </ion-item> 
      
  </ion-content>
