<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>จัดการกลุ่มกระบวนการ</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item lines="none" *ngIf="pcsg_list == null ">
      <ion-label>
          เริ่มต้นใช้งาน
      </ion-label>
    </ion-item>
    <ion-card *ngIf="pcsg_list == null ">
      <img src="https://image.freepik.com/free-vector/error-404-concept-landing-page_52683-18633.jpg" />
      <ion-card-header>
        <ion-card-subtitle text-center><b>กรุณาสร้างกลุ่มกระบวนการเพื่อใช้งาน</b></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>

    <ion-searchbar placeholder="ค้นหา" *ngIf="pcsg_list != null"></ion-searchbar>
   
    <ion-card *ngFor="let pcsg of pcsg_list;let i = index" color="danger">
        <ion-item lines="none">
          <ion-label stacked class="my-label" (click)="process_page_show(pcsg.pcsg_id)">{{pcsg.pcsg_th}} ({{pcsg.pcsg_en}})</ion-label>
          <ion-buttons slot="end" (click)="presentAlert(pcsg.pcsg_id,pcsg.pcsg_code,pcsg.pcsg_th,pcsg.pcsg_en,pcsg.ps_id)">
          <ion-icon name="more" size="small"></ion-icon>
        </ion-buttons>
        </ion-item>
        <ion-item  lines="none">
          <ion-chip outline color="tertiary" slot="start">
            <ion-icon name="key" size="small"></ion-icon>
            <ion-label>&nbsp;{{pcsg.pcsg_code}}</ion-label>
          </ion-chip>
          <ion-chip outline color="tertiary" slot="end">
            <ion-icon name="person" size="small"></ion-icon>
            <ion-label>&nbsp;{{pcsg.ps_fname}} {{pcsg.ps_lname}}</ion-label>
          </ion-chip>
        </ion-item >
    </ion-card>
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="modal_insert_show()">
      <ion-fab-button color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>   
    
  </ion-content>
  


  
  