<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>จัดการกลุ่มกระบวนการ</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item lines="none" *ngIf="pcsg_list == null ">
      <ion-label>
          เริ่มต้นใช้งาน
      </ion-label>
    </ion-item>
    <ion-card *ngIf="pcsg_list == null ">
      <img src="https://image.freepik.com/free-vector/error-404-concept-landing-page_52683-18633.jpg" />
      <ion-card-header>
        <ion-card-subtitle text-center><b>รักษาการติดตามและทำให้เป็นปัจจุบัน</b></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        กรุณาสร้างกลุ่มกระบวนการเพื่อใช้งาน
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let pcsg of pcsg_list;let i = index">
        <ion-item lines="none">
          <ion-label stacked class="my-label">{{pcsg.pcsg_th}} ({{pcsg.pcsg_en}})</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="key" size="small"></ion-icon>
          <ion-label>&nbsp;{{pcsg.pcsg_code}}</ion-label>
          <ion-icon name="person" size="small"></ion-icon>
          <ion-label>&nbsp;{{pcsg.ps_fname}} {{pcsg.ps_lname}}</ion-label>
        </ion-item >
        <ion-item>
          
        </ion-item>
    </ion-card>
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="modal_insert_show()">
      <ion-fab-button color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>   
    
  </ion-content>
  


  
  