<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/process"></ion-back-button>
      <ion-title>จัดการเรื่อง</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none" *ngIf="case_list == '' ">
    <ion-label>
      เริ่มต้นใช้งาน
    </ion-label>
  </ion-item>
  <ion-card *ngIf="case_list == '' ">
    <img src="https://image.freepik.com/free-vector/error-404-concept-landing-page_52683-18633.jpg" />
    <ion-card-header>
      <ion-card-subtitle text-center><b>กรุณาสร้างเรื่องเพื่อใช้งาน</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="case_list != '' ">
    <ion-card-header>
      <ion-card-subtitle><ion-icon name="key"></ion-icon> {{info_pcs_code}}</ion-card-subtitle>
      <ion-card-title>{{info_pcs_th}} ({{info_pcs_en}})</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list *ngFor="let case of case_list;let i = index">
    <ion-item >
      <ion-label >
          <h3>{{case.case_code}}</h3>
          <p>{{case.case_th}} ({{case.case_en}})</p>
        </ion-label>
        <ion-buttons slot="end" (click)="presentAlert(case.case_id,case.case_code,case.case_th,case.case_en,case.tmgr_ps_id)" >
          <ion-icon name="more" size="small"></ion-icon>
        </ion-buttons>
    </ion-item >
  </ion-list>

 <!-- fab placed to the bottom end -->
 <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="modal_insert_show()">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
