<ion-header>
  <ion-toolbar>
      <ion-item lines="none">
        <ion-buttons slot="start" (click)="closeModal()">
            <ion-icon name="close" ></ion-icon>
        </ion-buttons>
        <ion-title *ngIf="type_input == 'insert'">สร้างกลุ่มกระบวนการ</ion-title>
        <ion-title *ngIf="type_input == 'update'">แก้ไขกลุ่มกระบวนการ</ion-title>
        <ion-buttons slot="end"  (click)="process_group_insert()" *ngIf="type_input == 'insert'">
            <ion-icon name="checkmark" ></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end"  (click)="process_group_update()" *ngIf="type_input == 'update'">
            <ion-icon name="checkmark" ></ion-icon>
        </ion-buttons>
      </ion-item>
    
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
    <ion-item>
      <ion-label position="floating">รหัส</ion-label>
      <ion-input required [(ngModel)]="pcsg_code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ชื่อภาษาไทย</ion-label>
      <ion-input required [(ngModel)]="pcsg_th"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ชื่อภาษาอังกฤษ</ion-label>
      <ion-input required [(ngModel)]="pcsg_en"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ผู้ดูแล</ion-label>
      <ionic-selectable 
        [(ngModel)]="pcsm_id" 
        [items]="pcsm_list"
        [canSearch]="true"
        itemValueField="ps_id" 
        itemTextField="name">
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close"></ion-icon>
        </ng-template>

    </ionic-selectable>
    </ion-item> 
</ion-content>
