<ion-header>
  <ion-toolbar>
      <ion-item lines="none">
        <ion-buttons slot="start" (click)="closeModal()">
            <ion-icon name="close" ></ion-icon>
        </ion-buttons>
        <ion-title>สร้างกลุ่มกระบวนการ</ion-title>
        <ion-buttons slot="end"  (click)="process_group_insert()">
            <ion-icon name="checkmark" ></ion-icon>
        </ion-buttons>
      </ion-item>
    
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
    <ion-item>
      <ion-label position="floating">รหัส</ion-label>
      <ion-input [(ngModel)]="pcsg_code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ชื่อภาษาไทย</ion-label>
      <ion-input [(ngModel)]="pcsg_th"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ชื่อภาษาอังกฤษ</ion-label>
      <ion-input [(ngModel)]="pcsg_en"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ผู้ดูแล</ion-label>
      <ionic-selectable 
        [(ngModel)]="pcsm_id" 
        [items]="pcsm_list"
        [canSearch]="true"
        itemValueField="ps_fname" 
        itemTextField="ps_fname">
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close"></ion-icon>
        </ng-template>
        <ng-template selectSearchableItemTemplate let-port="item">
          {{pcsm_list.ps_fname}} ({{pcsm_list.ps_lname}})
        </ng-template>
    </ionic-selectable>
    </ion-item> 
</ion-content>
